body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/* Toàn bộ footer */
#footer{
    background: rgb(166, 215, 255);
    color: rgb(0, 0, 0);
    margin-top:auto; /* Đẩy footer xuống đáy */
}

/* Khung chứa */
.footer-container{
    max-width:1200px; /* Giới hạn chiều rộng */
    margin:auto; 
    display:flex; 
    flex-wrap:wrap; 
    gap:20px; 
    padding:10px 15px;
}

/* Mỗi cột */
.footer-col{
    flex:1; /* Chia đều chiều rộng */
    min-width:180px; /* Nhỏ quá thì xuống dòng */
    font-size:14px;
}

/* Tiêu đề */
.footer-col h3{
    margin-bottom:5px; /* Khoảng cách dưới */
}

/* Danh sách */
.footer-col ul{
    list-style:none;
    padding:0;
    display:grid; 
    grid-template-columns: auto auto auto;
    justify-content:start; /* dồn về bên trái */
    gap:5px 20px; /* khoảng cách hàng - cột */
}

/* Link */
.footer-col a{
    color:#000000; 
    text-decoration:none; /* Bỏ gạch chân */
}

/* Hover link */
.footer-col a:hover{
    color:#0066ff; /* Đổi màu khi rê chuột */
}

